@charset "UTF-8";


@font-face {
    font-family: 'love';
    src: url('Vampire Wars.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body
{
    background-image: linear-gradient(to left,  #38BFF5,#3B49DB,#3B7BDB,#3BDBD6);
}
main {
    background-color: white;
    width: 750px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(39, 43, 87, 0.384);
}
h1{

text-align: center;
 color:#3B49DB;
 text-align: center;
 text-shadow: 1px 1px 2px rgba(59, 72, 219, 0.286)
}
#principal
{
    
    padding: 5px;
    font-family: 'love', Times, sans-serif;
    color:#613BDB;
    border-radius: 15px;
    text-shadow:  1px 1px 2px rgb(187, 255, 0);
}

h2
{
   text-align: center;
    color:#38BFF5;
    text-shadow: #3bdbd660 1px 1px 2px;
}

.basico{
    background-color: #4713F0;
    color: #F0DB13;
    text-shadow: 1px 1px 2px rgba(59, 72, 219, 0.5);
    border-radius: 20px;
}

.intermediario
{
    background-color:#3A10C5 ;
    color: #F0DB13;
    text-shadow: 1px 1px 2px rgba(59, 72, 219, 0.5);
    border-radius: 20px;
}

.avancado
{
    background-color: #300DA3;
    color: #F0DB13;
    text-shadow: 1px 1px 2px rgba(59, 72, 219, 0.5);
    border-radius: 20px;
}

p
{
    text-align: justify;
}

hr
{
    background-color: #3B49DB;
    border: 1px solid #3B49DB;
    margin: 20px 0;
    box-shadow: 0 0 5px rgba(59, 72, 219, 0.5);
    border-radius: 5px;
    padding: 3px;
}
div{
    text-align: center;
    background-color :#38BFF5;
    height: 100px;
    width: 200px;
    border: 1px solid black;
    display: inline-block;
    font-family: 'love', Times, sans-serif;
}


div > p {
   
    display: none; 
    margin-top: 15px;
    color: black;
    font-size: 14px;
    text-align: justify;
    padding: 5px;
    background-color: #38BFF5;
    border-radius: 20px;
    
}

#d1:hover p {
    display: block;
    transition: display 0.3s;
    
}
 